/* Animações do Título */

@keyframes HeaderH1moverParaDireita {
    0% {
        opacity: 0;
        transform: translateX(-75px);
    }

    70% {
        transform: translateX(12px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

/* Animações do Subtítulo */

@keyframes HeaderH4moverParaEsquerda {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    50% {
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

/* Animações do botão de chamada (call to action) header */

@keyframes HeaderAmoverParaCima {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}